/* General Styles */
body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333333;
}

html {
  scroll-padding-top: 80px; /* Adjust based on your navbar height */
  scroll-behavior: smooth;
}

a:link,
a:visited,
a:hover,
a:active {
  color: blue;
  text-decoration:none;
}

/* Navbar */
nav {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1000;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: #333333;
  font-weight: bold;
  transition: color 0.3s;
}

.project a {
  font-weight: bold;
  color: #007bff;
  text-decoration: none;
  font-size: 18px;
  display: inline-block;
  margin-bottom: 8px;
  transition: color 0.3s, transform 0.2s;
}

nav a:hover {
  color: #007bff;
}

/* Header */
header {
  background: linear-gradient(to right, #333333, #007bff);
  color: white;
  padding: 3rem;
  text-align: center;
}

.highlight {
  color: #ffcc00;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 20px;
  border: 3px solid #ffffff;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.profile-container {
  position: relative;
  display: inline-block;
}

.profile-menu { 
  display: none;
  position: absolute;
  right: 0; 
  top: 130px;
  background-color: white;
  border: 1px solid #cccccc;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 100;
}

.profile-menu button {
  display: block;
  width: 100%;
  background: none;
  border: none;
  padding: 8px 12px;
  text-align: left;
  cursor: pointer;
  font-size: 14px;
}

.profile-menu button:hover {
  background-color: #f0f0f0;
}

/* Sections */
section {
  padding: 3rem;
  margin: 2rem auto;
  max-width: 800px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#education table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

#education th, #education td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #4b4949;
}

#education th {
  background-color: #007bff;
  color: white;
}

.project-grid {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project {
  background: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,1);
  width: 100%;
  max-width: 300px;
  text-align: center;
}


.project a:hover {
  color: #0056b3;
  transform: scale(1.05);
  text-decoration: underline;
}


/* Footer */
footer {
  background: #222222;
  color: #cccccc;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}
